In [ ]:
# Dependencies and Setup
import pandas as pd

In [8]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

In [9]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
player= len(purchase_data["SN"].value_counts())
player_count=pd.DataFrame([player], columns = ["Total Players"])
player_count

   Total Players
0            576

In [33]:
#Run basic calculations to obtain number of unique items, average price, etc.
Unique_items = len(purchase_data["Item ID"].unique())

#averge of price 
Avgprice = purchase_data["Price"].mean()

NumPur = len(purchase_data["Item Name"])

In [34]:
#total rev
Rev = purchase_data["Price"].sum()

In [35]:
#Create a summary data frame to hold the results
New_df = pd.DataFrame({"Number of Unique Items": [UniqueItems],
                                           "Average Price": [Avgprice],
                                           "Number of Purchases": [NumPur],
                                           "Total Revenue": [Rev]})

In [36]:
#Display the summary data frame
New_df["Average Price"] = New_df["Average Price"].map("${:.2f}".format)
New_df["Total Revenue"] = New_df["Total Revenue"].map("${:.2f}".format)
New_df = New_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

New_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [19]:
#Percentage and Count of Male Players
Male = purchase_data[["SN", "Male"]]

KeyError: "['Male'] not in index"